h1 { font-family: "ff-cocon-web-pro"; font-weight: 400; font-style: normal; text-align: center;
font-size: 90pt; line-height: 1.4em;}
h2 { font-family: "trajan-pro"; font-size: 30pt; margin-top: 50px; margin-bottom: 30px;}
p { padding: 30px; padding-top: 0; padding-bottom: 0; font-family: "chaparral-pro"; font-size: 18pt; text-align: left; line-height: 1.5em; }
p + p { margin-top: 0.5em; }
a { color: #2993DD; text-decoration: none; }
a:hover { color: #2771BB; }

.centered-block { display: block; margin-left: auto; margin-right: auto; }
#download-table { margin-left: auto; margin-right: auto; }
#download-table td { padding-left: 20px; padding-right: 20px; }
#content { display: block; margin-left: auto; margin-right: auto; width: 700px;}
#content img { display: block; margin: auto; }
#intro { margin-top: 40px; padding: 30px; }

.download-button { background: #EEE; padding: 15px; border: 2px solid white; border-left: none; border-right: none; border-radius: 10px; width: 250px;}
.download-button:hover { background: #DDD; cursor: pointer; }

.download-button p { color: #333; font-size: 18pt; margin-top: 5px; padding-top: 0; padding-bottom: 0; text-align: center;}
p.download-description { color: #888; font-size: 12pt; }

.inline-code { padding: 2px; padding-left: 5px; padding-right: 5px; margin-left: 3px; margin-right: 3px; 
background: #EEE; border: 1px solid #DDD; border-radius: 5px; font-size: 16pt; }

#folder-structure { text-align: left; font-family: "chaparral-pro"; font-size: 16pt; margin-top: 20px; margin-bottom: 20px; margin-left: 60px; line-height: 1.5em; }
.folder-content { border-left: 3px solid #AAA; padding-left: 15px; margin-left: 5px; margin-top: 5px;}

#footer { background: #EEE; margin: 0; padding: 0; margin-top: 25px; padding-top: 25px; padding-bottom: 50px; 
border-top: 1px solid #CCC;}
#footer p { text-align: center; font-size: 12pt; }
